
$primary-color :  #F5C6AA;
$secendary-color : #FDF6F0;
$thirdary-color : #F8E2CF;
$last-color:#FCD8D4;
$background-color : #F6F6F6;
$font-color : #5D5D5D;
$text-color: #ffffff;
$grid-background-color: #f5f5f7;
// $grid-background-color: pink;

@font-face {
  font-family: 'SuseongDotum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/SuseongDotum.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  background-color: white;
  scroll-behavior: smooth;
  text-align: center;
  font-family: "SuseongDotum", "Noto Sans Korean", "Noto Sans";
  // font-family: "Black Han Sans", "Noto Sans Korean";
}

section {
  width: 100%;
  overflow-x: hidden;
  margin-bottom: 80px;
}

.main-img-box {
  width: 100%;
}

.section-main {
  overflow-x: hidden;
  height: 100vh;
  img {
    height: 100%;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.section-story {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.caption-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: $text-color;
}

.caption {
  position: relative;
  text-align: start;
  top: 30%;
  transform: translate(10%, -50%);
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.3px;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
}

.story-box {
  position: relative;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // background-color: $grid-background-color;
  box-sizing: border-box;
  border-radius: 40px;
  overflow: hidden;
  text-align: start;

  img {
    height: 100%;
    border-radius: inherit;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .story-caption {
    font-size: 1rem;
    color: $text-color;
    position: absolute;
    bottom: 0px;
    left: 20px;
    // opacity: 0.0;
    // transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .story-img1-caption {
    bottom: 0;
  }
  .story-img4-caption {
    top: 0;
  }
}

.transparent-box {
  height: 350px;
  width: 350px;
  position: absolute;
  top: 0;
  left: 0;
  // transition: background-color 0.3s ease;
}

.invite-box {
  height: 375px;
  position: relative;
}

.invite-video {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  flex: 1;
  object-fit: cover;
  video {
    overflow: hidden;
    object-fit: cover;
    height: 100%;
    width: 100%;;
  }
}

.c-calendar {
  padding: 0 1rem;
  margin: 0;
  border: 1px solid $primary-color;
  border-left: 0;
  border-right: 0;
  td {
    position:relative;
  }
}

.c-calendar-table {
  margin: auto;
  width: 100%;
  font-size: .875rem;
  line-height: 2.375rem;
}

.c-calendar-eday {
 color: #ffffff;
 content: "";
 position: absolute;
 width: 100%;
 height: 100%;
 left: 0;
 top: 0; 
 display: flex;
 justify-content: center;
 flex-direction: column;
 text-align: center;
 div {
   margin: auto;
   width: 30px;
   height: 30px;
   line-height: 30px;
   border-radius: 30px;
   background-color: $primary-color;
 }
}

.dimmed {
  color: lightgray;
}

.calendar-button {
  border: none;
  border-radius: 10px;
}


[data-scroll] {
  transition: opacity 1s;
}
[data-scroll="in"] {
  opacity: 1;
}
[data-scroll="out"] {
  opacity: 0;
}
