$primary-color :  #F5C6AA;
$secendary-color : #FDF6F0;
$thirdary-color : #F8E2CF;
$last-color:#FCD8D4;
$background-color : #F6F6F6;
$font-color : #5D5D5D;

html, body {
    margin: 0;
    background-color: white;
    font-family: Verdana, sans-serif;
}

* {box-sizing: border-box;}
ul {list-style-type: none;}

h1 { 
  color: $primary-color;
}

h4 {
	color:$primary-color;
}

p {
  color: $font-color;
}


marquee {
	margin-top : 30px;
    font-size : 30px;
   	margin-bottom : 30px;
    color : #5D5D5D;
}

#intro_image {
  width: 50%;
  height: auto;
  display: block;  
  margin-left: auto;  
  margin-right: auto;  
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.section{
  padding-top: 10rem;
  padding-bottom: 10rem;
}

#video_section{
  background-color: $secendary-color;
  margin-top: 20rem;
  padding: 10rem;
}

#video_section .space{
  margin-top: 10rem;
}

#calendar_section {
  background-color: $secendary-color;
}

#picture_section, #map_section, #pay_section {
  background-color: $background-color;
}

.invisible {
  visibility: hidden;
}

.center{
  font-size: 2rem;
}

.small_text{
  font-size: 10px;
}

#intro_section .name {
	font-size:4rem;
    color : $font-color
}

#video_section .name{
  font-size:2rem;
  color : $font-color
}

.highlight {
  font-size: 2rem;
}

.spaceText {  
  font-size: 1.5rem;
	color : rgb(201, 201, 201);
}

#video_section .spaceText {
  font-size: 1rem;
	color : rgb(201, 201, 201);
}

#summary_section .divider {
	margin : 20rem auto;
	width : 40px;
  background-color: $background-color;
}

.divider{
  width : 40px;
}

/* Scroll Animation */
.scroll_animation {
  opacity: 0;
}

.scroll_animation.scroll_up  {
  transition: all 0.5s ease;
  transform: translate(0, 50px);
}

.scroll_animation.scroll_right {
  transition: all 0.5s ease;
  transform: translate(-100px, 0);
}

.scroll_animation.show {
  opacity: 1;
  transform: none;
}


/* Calendar */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #F6F6F6;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  background-color: white;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: $primary-color;
  color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}