$primary-color: #f5c6aa;
$secendary-color: #fdf6f0;
$thirdary-color: #f8e2cf;
$last-color: #fcd8d4;
$background-color: #f6f6f6;
$font-color: #5d5d5d;
$text-color: #ffffff;
$grid-background-color: #f5f5f7;
$title-font-size: 30px;
$title-line-height: 36px;

// $grid-background-color: pink;

@font-face {
	font-family: 'SuseongDotum';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/SuseongDotum.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

html,
body {
	margin: 0 auto;
	background-color: white;
	scroll-behavior: smooth;
	text-align: center;
	font-family: 'SuseongDotum', 'Noto Sans Korean', 'Noto Sans';
}

// --- common ---
section {
	width: 100%;
}

.section {
	margin: 15rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section-title {
	font-size: $title-font-size;
	line-height: $title-line-height;
}

// ---- main section ----
.section-main {
	overflow-x: hidden;
	height: 100vh;

	img {
		height: 100%;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
}

.caption-box {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: $text-color;
}

.caption {
	position: relative;
	text-align: start;
	top: 15%;
	transform: translate(10%, -50%);
	font-size: 28px;
	line-height: 36px;
	letter-spacing: -0.3px;
}

.intro-box {
	height: 100%;
	.video {
		display: flex;
		align-items: center;
		video {
			overflow: hidden;
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}
}

.video {
	overflow: hidden;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 100%;
	width: 100%;
	flex: 1;
	object-fit: cover;
	cursor: pointer;
	iframe {
		width: 100%;
		height: 250px;
	}
}

// ---- calendar ----
.c-calendar {
	padding: 0 1rem;
	margin: 0;
	border: 1px solid $primary-color;
	border-left: 0;
	border-right: 0;
	margin: 0 30px;
	td {
		position: relative;
	}
}

.c-calendar-table {
	margin: auto;
	width: 100%;
	font-size: 0.875rem;
	line-height: 2.375rem;
}

.c-calendar-eday {
	color: #ffffff;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	div {
		margin: auto;
		width: 30px;
		height: 30px;
		line-height: 30px;
		border-radius: 30px;
		background-color: $primary-color;
	}
}

.dimmed {
	opacity: 0.3;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.buttons-wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	gap: 20px;
}

.icon-button {
	border-radius: 10px;
	font-size: 10px;
	width: 50px;
	height: 50px;

	img {
		width: 100%;
		height: 100%;
	}
}

#copy-link-button > img {
	transform: scale(1.13);
}

.map-box {
	width: calc(100% - 2rem);
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.address-wrapper {
	p {
		padding: 0;
		margin: 0;
	}
	.title {
		font-size: 16px;
		color: $primary-color;
	}
	.para {
		font-size: 14px;
		color: $font-color;
	}
}

.way-to-come {
	display: flex;
	flex-direction: column;
	align-items: start;
	text-align: start;
	margin: 0 30px;
	word-break: break-word;
}

.way-title {
	color: $primary-color;
	font-size: 14px;
}

.way-para {
	color: $font-color;
	font-size: 12px;
	margin-bottom: 10px;
}

.map-button {
	width: 50px;
	height: 50px;

	img {
		width: 100%;
		height: 100%;
	}
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-evenly;
	padding: 0 20px;
	gap: 1px;

	.img-wrapper {
		width: 114px;
		height: 140px;

		img {
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			margin: auto;
			width: 100%;
			height: 100%;
		}
	}
}

.section-account {
	padding: 5rem 0;

	.account-content {
		color: $font-color;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;

		.account-wrapper {
			display: flex;
			flex-direction: column;

			.account-title {
				cursor: pointer;
				width: 15rem;
				height: 3rem;
				display: flex;
				background-color: $primary-color;
				justify-content: center;
				align-items: center;
				z-index: 9999;
				img {
					width: 16px;
					height: 16px;
					position: absolute;
					right: 10px;
					transform: rotate(0);
					transition-duration: 0.5s;
					transform-origin: center center;
				}
				.rotate {
					transform: rotate(180deg);
					transition-duration: 0.5s;
				}
			}

			.account-list {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				transition: all 0.5s ease-out;
				font-size: 12px;
				opacity: 1;
				background-color: $secendary-color;
				visibility: visible;
				align-items: center;

				.account-item {
					display: flex;
					padding: 10px 20px;
					width: 100%;
					justify-content: space-between;

					button {
						border: 1px solid black;
						border-radius: 5px;
						padding: 4px;
						cursor: pointer;
					}
				}

				.bank {
					flex-grow: 3;
					text-align: left;
				}
			}
			.hide {
				opacity: 0 !important;
				visibility: hidden !important;
				height: 0 !important;
			}
		}
	}
}

.section-insta {
	.img-wrapper {
		width: calc(33.333% - 2px);
		height: 140px;

		img {
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			margin: auto;
			width: 100%;
			height: 100%;
		}
	}
}

#insta-button {
	border-radius: 2rem;
	width: 7rem;
	height: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-clip: text;
	-webkit-background-clip: text;
	border: 1px solid white;

	img {
		width: 80px;
		height: 80px;
	}
}

.section-insta {
	padding: 5rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $background-color;
	background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: move 10s ease infinite;

	.button-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@keyframes move {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.copyright {
	font-size: 10px;
	color: $font-color;
	margin: 30px 20px;
}

// --- ScrollOut ---
[data-scroll] {
	transition: opacity 1s;
}
[data-scroll='in'] {
	opacity: 1;
}
[data-scroll='out'] {
	opacity: 0;
}

*,
*:before,
*:after {
	position: relative;
	box-sizing: border-box;
}

// ------- cover -----
.cover {
	background: $primary-color;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
	// opacity: 1; // 삭제
	animation: fade-out 2.5s;
	z-index: 50000;
	overflow-y: hidden;

	#icon {
		--size: 50px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: var(--size);
		height: var(--size);
		animation: zoom-in 1.5s; // 주석 해제
		animation-delay: 0.5s; // 주석 해제 하세요
	}
}

@keyframes zoom-in {
	50% {
		width: var(--size);
		height: var(--size);
	}
	60% {
		width: calc(var(--size) * 0.9);
		height: calc(var(--size) * 0.7);
	}
	100% {
		width: 250%;
		height: 200%;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.hidden {
	display: none;
}

.show {
	display: block;
}

#content-layer {
	z-index: 5000;
}

// -------- notice --------
.section-notice {
	.notice-wrapper {
		border: 1px solid $primary-color;
		border-radius: 14px;
		padding: 1.5rem;
		margin: 1rem;
		background-color: #fdfdfd;
	}
	.title {
		font-size: 20px;
		color: $primary-color;
	}
	p {
		line-height: 24px;
		color: #6e6e6e;
		text-align: left;
	}
}

// ------- keynote ----------
$remon-color: #f5e8c7;
.section-keynote {
	.margin-box {
		height: 15rem;
		background-color: $remon-color;
	}
	.wrapper {
		background-color: $remon-color;
	}
	.gradation-box {
		background-image: linear-gradient(0, #ffffff 0, $remon-color 100%);
		height: 15rem;
	}

	.title {
		font-size: 24px;
		padding-bottom: 40px;
	}
	p {
		color: $font-color;
		font-size: 16px;
		line-height: 30px;
		margin: 0;
	}
	img {
		width: 100%;
	}
	.family-wrapper {
		margin: 20px 0;
		font-size: 20px;
		line-height: 28px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.family {
		width: 226px;
		display: flex;
		justify-content: space-between;
		height: 40px;
	}
	.middle {
		font-size: 12px;
	}
}

// ---- scroll button -------
.white {
	color: #fff;
	border-color: #fff !important;
}
.btn-scroll-holder {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 5.84112vw;
	margin-bottom: 7.00935vw;
	opacity: 1;
	transform: translateZ(0);
	transition: transform 0.25s ease-in-out 1.5s, opacity 0.25s ease-out 1.5s;
	z-index: 2500;

	button {
		text-rendering: optimizeLegibility;
	}
	input[type='button'] {
		vertical-align: top;
		outline: none;
	}

	.btn-scroll {
		display: block;
		position: relative;
		width: 11.68224vw;
		pointer-events: none;
		cursor: none;

		.box {
			display: block;
			width: 100%;
			height: 11.68224vw;
			border-left: 2px solid #fff;
			border-right: 2px solid #fff;
			transition: height 0.35s ease-in-out 0s, border-color 0.35s;
		}
		.up {
			position: absolute;
			bottom: 50%;
			left: 50%;
			width: 3.73832vw;
			height: 4.6729vw;
			margin-bottom: -2.33645vw;
			margin-left: -1.86916vw;
			opacity: 0;
			transform: translate3d(0, 50%, 0);
			transition: transform 0.35s ease-out 0s, opacity 0.35s 0s;
		}
	}
	.pos-top {
		.circle {
			top: 0;
		}
	}
	.pos-bot {
		.circle {
			bottom: 0;
		}
	}

	.circle-half-wrap {
		display: block;
		width: 100%;
		position: relative;
		height: 5.84112vw;
		overflow: hidden;
	}

	.circle {
		position: absolute;
		width: 11.68224vw;
		height: 11.68224vw;
		left: 0;
		right: 0;
		border: 2px solid #fff;
		border-radius: 50%;
		transition: border-color 0.35s;
	}

	.ico-down-holder {
		position: absolute;
		bottom: 50%;
		left: 50%;
		width: 3.73832vw;
		height: 11.68224vw;
		margin-bottom: -5.84112vw;
		margin-left: -1.86916vw;
		transition: transform 0s ease-out 0.4s, opacity 0.35s 0.4s;
		overflow: hidden;

		.down {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			-webkit-animation: slidein 1.6s linear -0.8s infinite forwards;
			animation: slidein 1.6s linear -0.8s infinite forwards;
		}
	}
}

.ico-sc-down-w {
	background-image: url(/resources/img/arrow_scroll_down.svg);
}

.ico {
	display: inline-block;
	width: 4.20561vw;
	height: 4.20561vw;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
	font-size: 0;
}

@keyframes slidein {
	0% {
		transform: translate3d(0, -200%, 0);
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	100% {
		transform: translate3d(0, 200%, 0);
		opacity: 0;
	}
}
